# VIM
*.sw?

# Clojure
target
.lein-failures
.lein-repl-history

# Elixir
_build
.formatter.exs

# C#
**/obj/**
**/bin/**

# Haskell
**/.stack-work/**

# Python
**/__pycache__/**

# TypeScript/JavaScript
**/node_modules/**
